<div class="widgets">

  <div class="row">
    <div class="col-md-12">

    <ba-card baCardClass="with-scroll"> <!--<ba-card title="Explore" baCardClass="with-scroll">-->
      <div class="form-group">
        <input #input type="text" (keyup.enter)="luceneSearch($event)" class="form-control form-control-rounded" id="input03" placeholder="Search for...">        
      </div>

        <div class="row show-grid">
          <div class="col-md-10">
            <pagination-controls  class="my-pagination" (pageChange)="getPage($event)" id="server"></pagination-controls>  
          </div>
          <div class="col-md-2">                   
              <a [routerLink]="['/pages/newstartup']">
                <div class="button-wrapper">
                  <button type="button" id="exportpdf" class="btn btn-default btn-raised" style="float:right;">New Startup</button>
                </div>
              </a>
          </div>
          
          <div *ngFor="let obj of asyncCompanies | async | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems: total }"> <!--| smArraySearch: input.value-->
            <div *ngIf="!loading && !error" class="col-md-12" style="padding-top:15px;padding-bottom:15px;box-sizing: border-box; border-radius: 7px;margin-bottom: 10px; background-color: rgba(255, 255, 255, 0.8);" >
            <div *ngIf="!obj?.thumbnail" class="col-md-1" style="padding-left:0px;"><img src="http://3.bp.blogspot.com/-FI6eeNNTcy4/VPw04yX3_qI/AAAAAAAAAFk/vEocwQMf0-8/s1600/startup-512.png" alt="Business Profile" style="width:80px;height:80px;"></div>
            <div *ngIf="obj?.thumbnail" class="col-md-1" style="padding-left:0px;"><img src="data:image/png;base64,{{obj.thumbnail}}" alt="Business Profile" style="width:80px;"></div>
            <div class="col-md-5" style="padding-left:0px;">
              <a [routerLink]="['/pages/company', obj.id]">
              <div style="font-size: 20px; color: #000000; opacity: .87; font-family: 'Arial Narrow', Arial, sans-serif; text-shadow: 1px 1px 1px #aaaaaa; padding-bottom: 5px">{{obj.companyName}} <p *ngIf="obj?.portfolio" style="font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;display: inline;font-size: 12px;padding-left: 10px;color: goldenrod;text-shadow: 0px 0px 0px #ffffff;font-weight: 400;">PORTFOLIO COMPANY</p></div>              
              </a>
              <div *ngIf="obj?.blurb" style="font-size: 11px; color: #000000; opacity: .54;">{{obj.blurb}}</div>
              <div *ngIf="obj?.website" style="overflow-wrap: break-word;font-size: 10px"><a style="color: #24a2ff" href="{{obj.website}}" target="_blank">{{obj.website}}</a></div>
              <div *ngIf="obj?.city" style="font-size: 13px; color: #000000; opacity: .38; font-weight: 400">{{obj.city}}</div>
              <div *ngIf="obj?.location" style="font-size: 12px; color: #000000; opacity: .38;">{{obj.location}}</div>
            </div>
            <div class="col-md-3">
              <div *ngIf="obj?.verticals" style="font-size: 10px; color: #000000; opacity: .38;">Verticals:</div>
              <div *ngIf="obj?.verticals" style="font-size: 12px; color: #000000; opacity: .54;">{{obj.verticals}}</div>
              <div *ngIf="obj?.tags" style="font-size: 10px; color: #000000; opacity: .38;">Tags:</div>
              <div *ngIf="obj?.tags" style="font-size: 12px; color: #000000; opacity: .54;">{{obj.tags}}</div>
            </div>
            <div class="col-md-3">
              <div> 
                  <button class="top20btn" (click)="top20Modal(obj)">20</button>
                  <button class="top100btn" (click)="top100Modal(obj)">100</button>
              </div>
              <div *ngIf="obj?.pnpContact" style="font-size: 10px; color: #000000; opacity: .38;">Account Manager:</div>
              <div *ngIf="obj?.pnpContact" style="font-size: 12px; color: #000000; opacity: .54;">{{obj.pnpContact}}</div>
              <div *ngIf="obj?.contactName" style="font-size: 10px; color: #000000; opacity: .38;">Primary Contact:</div>
              <div *ngIf="obj?.contactName" style="font-size: 12px; color: #000000; opacity: .54;">{{obj.contactName}}</div> 
              <div *ngIf="obj?.email" style="font-size: 10px; color: #000000; opacity: .38;">Email:</div>
              <div *ngIf="obj?.email" style="font-size: 12px; color: #000000; opacity: .54;">{{obj.email}}</div>
            </div>
            </div>
          </div>
          <div *ngIf="loading" style="margin: 0 auto;width: 100px;">
            <div class="spinner"></div>
          </div>
          <div *ngIf="error" style="margin: 0 auto;width: 500px;">
            <p>Your search - {{searchString}} - did not match any documents.</p>
          </div>
        </div>
      </ba-card>
    </div>
  </div>

</div>
