@import '../../theme/sass/conf/conf';

div#count-bubble {
	//position: relative;  
	//display:inline-block;
    //width: 80px;  
    height: 40px;  
    text-align: center;  
    /* line-height: 100px;   */
    background-color: #fff;  
    border: 3px solid #e4e4e4;  
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
    border-radius: 5px;  
    -webkit-box-shadow: 0px 1px 2px #888;  
    -moz-box-shadow: 0px 1px 6px #888;  
    box-shadow: 0px 1px 6px #888;
	//behavior: url(/tourmee/css/ie-css3.htc);
}

div#count-bubble::before {  
    content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    left: 0px;
    right: 0px;
    margin: auto;  
    top: 37px;  
    border-top:10px solid #e4e4e4;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
}

div#count-bubble:after {  
    content: ' ';  
    position: absolute;  
    width: 0;  
    height: 0;  
    left: 0px;
    right: 0px;
    margin: auto;  
    top: 35px;  
    border-top:6px solid #fff;
    border-left:6px solid transparent;
    border-right:6px solid transparent;
}

div#circle {
	width: 8px;
	height: 8px;
	background: #7d7d7d;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display:inline-block;
	//behavior: url(/tourmee/css/ie-css3.htc);
}
div#circle:hover {
	background: #3c3c3c;
}
div#circleActive {
	width: 8px;
	height: 8px;
	background: #3c3c3c;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	display:inline-block;
	//behavior: url(/tourmee/css/ie-css3.htc);
}

.becomeFan {
	margin-top:1px;
	display: block;
	line-height: 28px;
	position: relative;
	background: #278cb8;
	color: #ffffff;
	font-size: 15px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius: 6px 0 0 6px;
	-webkit-border-radius: 6px 0 0 6px; 
	border-radius: 6px 0 0 6px;
} 

.becomeFan:after {
	content: "";
	position: absolute;
	top: 0;
	right: -13px;
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #278cb8;
	border-style: solid;
	border-width: 14px 0 15px 14px; 
}

.becomeFan:hover {
	text-shadow:0px 1px 5px #000000;
	-moz-box-shadow:inset 0px 1px 0px 0px #284470;
	-webkit-box-shadow:inset 0px 1px 0px 0px #284470;
	box-shadow:inset 0px 1px 0px 0px #284470;
	//behavior: url(/tourmee/css/ie-css3.htc);
}

.top100 {
	-moz-box-shadow:inset 0px 1px 0px 0px #6b6b6b;
	-webkit-box-shadow:inset 0px 1px 0px 0px #6b6b6b;
	box-shadow:inset 0px 1px 0px 0px #6b6b6b;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #3c3c3c), color-stop(1, #6b6b6b) );
	background:-moz-linear-gradient( center top, #3c3c3c 5%, #6b6b6b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c3c3c', endColorstr='#6b6b6b');
	background-color:#3c3c3c;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #6b6b6b;
	display:block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:6px 8px;
	text-decoration:none;
	text-shadow:0px 2px 5px #000000;
	//behavior: url(/tourmee/css/ie-css3.htc);
}
.top100:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6b6b6b), color-stop(1, #3c3c3c) );
	background:-moz-linear-gradient( center top, #6b6b6b 5%, #3c3c3c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b6b6b', endColorstr='#3c3c3c');
	background-color:#6b6b6b;
	color: lightgray;
}
.top100:active {
	position:relative;
	top:1px;
}

/*.show-grid div[class^=col-md-12]{
  padding: 10px;
  box-sizing: border-box;
  background-color: rgba($content-text, 0.3);
  border-radius:7px;
  margin-bottom:10px;
}*/

/*  .pnp-details div {
    color: $default-text;
    text-align: center;
    font-size: 18px;
    padding: 12px 5px;
  }

  .pnp-data div {
    color: $default-text;
    text-align: center;
    font-size: 10px;
    padding: 12px 5px;
  }*/

/*.pnp-details div {
    color: $default-text;
    text-align: center;
    font-size: 18px;
    padding: 12px 5px;
  }*/

/*  .pnp-data div {
    color: $default-text;
    text-align: center;
    font-size: 12px;
    padding: 12px 5px;
  }*/

/*  .pnp-companyname div {
    font-size: 16px;
    color:#4cbd83;
    font-family: sans-serif;
  }*/

/*.col-md-12 {
    padding: 10px;
    box-sizing: border-box;
    border-radius:7px;
    color: $default-text;
    text-align: center;
    font-size: 18px;
    background-color: rgba($content-text, 0.3);
    padding: 12px 5px;
}*/

.grid-h{
  margin-top: 40px;
  margin-bottom: 0;
  &:first-child{
    margin-top: 0;
  }
}


div#tabs {
    float:left;
    width:100%;
    font-size:93%;
    line-height:normal;
    background-color:#3c3c3c;
    height:45px;
    margin-left:0px;
    margin-right:0px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    border-bottom-color:#8a8a8a;
    padding-right:10px;
}

div#tabs ul {
	margin-left:25px;
	margin-top:0px;
	margin-bottom:0px;
	padding:0;
	list-style:none;
}

div#tabs li {
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:12px;
	border-left-style:solid;
    border-left-width:1px;
    border-left-color:#8a8a8a;
}

div#tabs a {
	display:block;
	font-family:arial;
	font-size:15px;
	text-decoration:none;
	font-weight:bold;
}
/* jQuery UI tabs css 
----------------------------------*/
.ui-tabs { 
	position: relative; 
} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav { 
	margin: 0;
}
.ui-tabs .ui-tabs-nav li { 
	list-style: none; float: left; top: 0px; border-bottom: 0 !important; padding: 0; white-space: nowrap; 
}
.ui-tabs .ui-tabs-nav li a { 
	float: left; text-decoration: none; 
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { 
	margin-bottom: 0; padding-bottom: 0px; 
}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { 
	cursor: text; 
}
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { 
	cursor: pointer; 
} /* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */
.ui-tabs .ui-tabs-panel { 
	display: block; border-width: 0; background: none; 
}
.ui-tabs .ui-tabs-hide { 
	display: none !important; 
}

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { 
	font-weight: normal/*{fwDefault}*/; 
	position:relative;
}
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { 
	text-decoration: none; 
	margin-top:16px;
	color:#979797;
}
.ui-state-default img#triangle, .ui-widget-content .ui-state-default img#triangle, .ui-widget-header .ui-state-default img#triangle { 
	display:none;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
	font-weight: normal/*{fwDefault}*/;  
}
.ui-state-hover a, .ui-state-hover a:hover { 
	text-decoration: none; 
	color: #EEEEEE;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { 
	font-weight: bold/*{fwDefault}*/;
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.14) 0%, rgba(255,255,255,0.14) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.14)), color-stop(100%,rgba(255,255,255,0.14))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.14) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.14) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.14) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(0,0,0,0.14) 0%,rgba(255,255,255,0.14) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24000000', endColorstr='#24ffffff',GradientType=0 ); /* IE6-9 */  
}

.ui-state-active li, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active li {
	background-color: white; 
}

.ui-state-active img#triangle, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active img#triangle {
	vertical-align:top;
	display:block;
	margin-left:auto;
	margin-right:auto;
}


.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { 
	text-decoration: none; 
	margin-top:10px;
	color:#979797;
}
.ui-widget :active { outline: none;
}

.md-tab-header md-ink-bar {
    background-color: #278cb8 !important;
}

/*.md-tab-active:focus {
	background-color: rgba(230, 223, 219, 0.3) !important;
}*/

.md-tab-label:focus {
	background-color: rgba(230, 223, 219, 0.3) !important;
	border-radius: 4px;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #555;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}